#main-header img {
	width: 100%;
	height: 100%;
}

#main-header .port-item {
	width: 30%;
}

#main-header .port-item:hover {
	opacity: 0.8;
	cursor: pointer;
}

.bg-black {
	color: #fff;
	background-color: #000;
}

@media(min-width: 1199px) {
	.port-item {
		padding: 3em !important;
	}
}

@media only screen and (max-width: 600px) {
    .mobile {
        width: 84.3%;
    }
}