#chart-area svg {
	margin-left: auto;
    margin-right: auto;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

#logo {
	height:50px;
}

.navbar-brand {
	height: 60px;
    margin-top: 100px;
	padding: 5px 0px;
}

.export {
    font-weight: bold;
    font-size: 16px;
    font-family: monospace; 
}

#export-profit {
    font-family: monospace; 
    color: slateblue;
    font-weight: bold;
    font-size: 25px;
}