* {
	padding: 0;
	margin: 0;
	text-rendering: optimizeLegibility;
	box-sizing: border-box;
}

body {
	background-color: #d4d4d4;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

.clearfix {zoom:1}
.clearfix:after{
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.wrapper {
	position: absolute;
	background-color: #f6f6f6;
	width: 100%;
	height: 75vh;
	top: 50%;
	left: 60%;
	transform: translate(-50%,-50%);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.img-wrapper {
	width: 25%;
	background-color: transparent;
	float: left;
	height: 100%;
	background-image: url("hero-bg.jpg");
	-webkit-background-size: cover;
	background-size: cover;
	background-position: left;
	transition: all 1.5s;
	transform: scale(1.05);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); 
}

.img-wrapper:hover {
	background-image: url("hero.jpg");
	transform: scale(1.2);
	transition: all 1.5s;
}

.hero-header {
	background-color: #444;
	height: 100px;
	width: 100%;
	left: 25%;
}

.hero-header h1 {
	text-align: center;
	font-weight: 100;
	margin: 0 90px;
	color: #d4d4d4;
	padding: 25px;
	text-transform: uppercase;	
}

.hero-header h1 span {
	font-size: 16px;
}

.container {
	background-color: #f6f6f6;
	padding: 0;
	border: none;
	top: 10%;
}

.card {
	transition: all 1.5s;
}

.card:hover {
  background: #444;
  color: #fff;
  transition: all 1.5s; }

.card:hover .connect {
	transform: translateY(0px);
	color: #444;
	transition: all 1s;
}


.bg-dark {
	/*background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url("redirect.jpg");*/
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center;
	transition: all 0.5s;
}

.bg-dark:hover {
	/*background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url("redirect.jpg");*/
	transform: scale(1.01);
	transition: all 0.5s;
}

.info-box h1{
	letter-spacing: 1px;
	transition: all 0.5s;
}

.info-box:hover h1{
	letter-spacing: 2px;
	transition: all 0.5s;
}

.info-box:hover p.note-this {
	transition: all 1.5s;
}

hr {
	border: 0.5px solid #444;
	opacity: 0.5;
}

.smash a {
	letter-spacing: 1px;
}

.smash:hover a.proceed {
	background: transparent;
	color: #444;
}